body {
    font-family: 'Arial', sans-serif;
    background-size:auto;
    background: linear-gradient(to right, #3498db, #e74c3c, #2ecc71);
   
    margin: 0;
    padding: 10%;
    color: #333; /* Default text color */
}
h1{
    color:#000000;
    text-align: center;
    border-bottom:5px double #333;
    animation:co 2s linear infinite;
}
h2{
    color:#283606;
    font-size: medium;
}
@keyframes co{
    0% { border-bottom:2px double #333;}
    20% {border-bottom:2px double #d65959;}
    40%{border-bottom:2px double #599ed6;}
    60%{border-bottom:2px double #59d689;}
    80%{border-bottom:2px double #d659d0;}
    100%{border-bottom:2px double #a1155b;}
    
    
}
.clicks{
    display:block;
    width:200px;
    height:50px;
    
    margin-top:10px;
    background-color: rgba(142, 150, 33, 0.747);
    border:5px solid black;
    color:black;
    font-size:medium;
    font-style:oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bold;
    
}
.clicks:hover{
    background-color: aqua;
}
label{
    font-size: medium;
    font-weight: bold;
    display:block;
}
.submit,#resultValue,#result{
    background-color: aliceblue;
    color:#000000;
    border:2px solid black;
    font-weight: bold;
    text-align: center;
    }
    .submit{
        margin-top:20px;
        display:block;
    }
    #result{
        margin-top:40%;
        margin-left:35%;

        width:fit-content;
    }